.header{
    background: #007fba url(https://www.dvt.co.za/images/page-headers/backgrounds/blue-header-background.jpg) no-repeat scroll center bottom;
    padding: 130px 0px 50px 0px; 
    color: white;
}
.textHeader{
    margin-left: 6%;
    font-size: 30px;
}
#root{
    width: 100%;
  }
.myContainer{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 10px;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    padding: 10px;
}